body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header table {
    width: 100%;
    background-color: #282b30;
    border-collapse: collapse;
}

header td {
    padding: 10px;
    text-align: center;
}

header td:hover {
    background-color: #393e45;
    cursor: pointer;
}

header td:active {
    background-color: #7289da;
}

header a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
}

.charmander {
    width: 100%;
    height: auto;
    background-color: #fe9441;
}

.squirtle {
    width: 100%;
    height: auto;
    background-color: #93c8d0;
}

.bulbasaur {
    width: 100%;
    height: auto;
    background-color: #83ba36;
}

.main-table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

.main-table td {
    padding: 40px;
    text-align: center;
}

.img {
    width: 500px;
    height: 500px;
}

.btn {
    width: 250px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    background-color: #282b30;
    color: white;
    margin: 5px;
}

.btn:hover {
    width: 250px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.btn-fire {
    width: 250px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    background-color: #f24405;
    color: white;
    margin: 5px;
}

.btn-fire:hover {
    width: 250px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.btn-water {
    width: 250px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    background-color: #2389da;
    color: white;
    margin: 5px;
}

.btn-water:hover {
    width: 250px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.btn-grass {
    width: 250px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    background-color: #107800;
    color: white;
    margin: 5px;
}

.btn-grass:hover {
    width: 250px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.btn-poison {
    width: 250px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    background-color: #7b63ad;
    color: white;
    margin: 5px;
}

.btn-poison:hover {
    width: 250px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.stats {
    font-family: cursive;
    font-weight: bold;
    border-collapse: collapse;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.stats td {
    border: none;
    padding: 5px 15px;
    text-align: left;
}

.stats td:first-child {
    text-align: right;
}

footer p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}